
<p id="notice"><%= notice %></p>

<h1>UCOC Member Directory</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone No.</th>
      <th>Alt. Phone</th>
      <th>Email</th>
      <th>H2H Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @directories.each do |directory| %>
      <tr>
        <td><%= directory.name %></td>
        <td><%= directory.address %></td>
        <td><%= directory.phone %></td>
        <td><%= directory.alt_phone %></td>
        <td><%= directory.email %></td>
        <td><%= directory.h2h_group %></td>
        <td><%= link_to 'Show', directory %></td>
        <td><%= link_to 'Edit', edit_directory_path(directory) %></td>
        <td><%= link_to 'Destroy', root_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Add New Member", new_directory_path %>
