<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @directory.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @directory.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @directory.phone %>
</p>

<p>
  <strong>Alternate Phone:</strong>
  <%= @directory.alt_phone %>
</p>

<p>
  <strong>Email Address:</strong>
  <%= @directory.email %>
</p>

<p>
  <strong>House-to-House Group:</strong>
  <%= @directory.h2h_group %>
</p>

<%= link_to 'Edit', edit_directory_path(@directory) %> |
<%= link_to 'Back', directories_path %>
